@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400&display=swap');

$font__main: sans-serif;
$font__code: 'Roboto Slab', "Andale Mono", "DejaVu Sans Mono", sans-serif;
$font__pre: 'Roboto Slab', Courier, sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__weight: 300;
